.jcmg-slate-screen-visible {
    transition: left 0.25s ease;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}

.jcmg-slate-screen-hidden {
    transition: left 0.25s ease;
    transition-property: all;
    opacity: 0;
    transition-duration: 0.5s;
    bottom: -100%;
    transition-timing-function: ease-in-out;
    transition-delay: 0.1s;
}
